### Bibliotecas e Funções

In [140]:
import pandas as pd

In [141]:
from functions import *

### Leitura dos Dados

In [142]:
imp_vinho = pd.read_csv(r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Dataset and Instructions\Importação Vinhos\ImpVinhos.csv', sep=';', thousands=".", decimal=",")
imp_sucos = pd.read_csv(r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Dataset and Instructions\Importação Vinhos\ImpSuco.csv', sep=';', thousands=".", decimal=",")
imp_frescas = pd.read_csv(r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Dataset and Instructions\Importação Vinhos\ImpFrescas.csv', sep=';', thousands=".", decimal=",")
imp_espumantes = pd.read_csv(r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Dataset and Instructions\Importação Vinhos\ImpEspumantes.csv', sep=';', thousands=".", decimal=",")
imp_passas = pd.read_csv(r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Dataset and Instructions\Importação Vinhos\ImpPassas.csv', sep=';', thousands=".", decimal=",")

In [143]:
imp_vinho.head()

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,1,Africa do Sul,0,0.0,0,0,0,0,0,0,...,1092042,3604038,627150,1701072,859169,2508140,738116,2266827,522733,1732850
1,2,Alemanha,52297,30498.0,34606,26027,134438,92103,111523,98638,...,101055,412794,136992,504168,106541,546967,92600,438595,102456,557947
2,3,Argélia,0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Arábia Saudita,0,0.0,0,0,0,0,0,0,...,0,0,0,0,2510,8761,0,0,8,161
4,5,Argentina,19525,12260.0,24942,15022,104906,58137,116887,76121,...,16548931,54527380,22610267,66322932,26869241,79527959,27980574,87519642,25276991,83918138

### Organizando os dataframes

In [144]:
imp_vinho_org = process_export_data(imp_vinho, 2014, 2023)
imp_sucos_org = process_export_data(imp_sucos, 2014, 2023)
imp_frescas_org = process_export_data(imp_frescas, 2014, 2023)
imp_espumantes_org = process_export_data(imp_espumantes, 2014, 2023)
imp_passas_org = process_export_data(imp_passas, 2014, 2023)

> Dados acima não estão agrupados por País, e sim, por ano, possibilitando outra extração para análise anual dos Países.

In [145]:
imp_vinho_org_p = imp_vinho_org.groupby('País').agg({'Volume Litro' : 'sum', 'Valor' : 'sum'})
imp_vinho_org_p.reset_index(inplace=True)

imp_sucos_org_p = imp_sucos_org.groupby('País').agg({'Volume Litro': 'sum', 'Valor': 'sum'})
imp_sucos_org_p.reset_index(inplace=True)

imp_frescas_org_p = imp_frescas_org.groupby('País').agg({'Volume Litro': 'sum', 'Valor': 'sum'})
imp_frescas_org_p.reset_index(inplace=True)

imp_espumantes_org_p = imp_espumantes_org.groupby('País').agg({'Volume Litro': 'sum', 'Valor': 'sum'})
imp_espumantes_org_p.reset_index(inplace=True)

imp_passas_org_p = imp_passas_org.groupby('País').agg({'Volume Litro': 'sum', 'Valor': 'sum'})
imp_passas_org_p.reset_index(inplace=True)

In [146]:
imp_vinho_org_p['Valor Litro'] = imp_vinho_org_p['Valor'] / imp_vinho_org_p['Volume Litro']
imp_sucos_org_p['Valor Litro'] = imp_sucos_org_p['Valor'] / imp_sucos_org_p['Volume Litro']
imp_frescas_org_p['Valor Litro'] = imp_frescas_org_p['Valor'] / imp_frescas_org_p['Volume Litro']
imp_espumantes_org_p['Valor Litro'] = imp_espumantes_org_p['Valor'] /imp_espumantes_org_p['Volume Litro']
imp_passas_org_p['Valor Litro'] = imp_passas_org_p['Valor'] /imp_passas_org_p['Volume Litro']

### Atualizando os nomes dos Países para um padrão

In [147]:
paises = pd.concat([imp_vinho_org_p['País'], imp_sucos_org_p['País'], imp_frescas_org_p['País'], imp_espumantes_org_p['País'],imp_passas_org_p['País']])

In [148]:
paises.drop_duplicates(inplace=True)
# paises.to_csv('paises_imp.csv', sep=',', index=False)

In [149]:
imp_vinho_org_p = update_country_names(imp_vinho_org_p, paises_org)
imp_sucos_org_p = update_country_names(imp_sucos_org_p, paises_org)
imp_frescas_org_p = update_country_names(imp_frescas_org_p, paises_org)
imp_espumantes_org_p = update_country_names(imp_espumantes_org_p, paises_org)
imp_passas_org_p = update_country_names(imp_passas_org_p, paises_org)

In [150]:
imp_vinho_org = update_country_names(imp_vinho_org, paises_org)
imp_sucos_org = update_country_names(imp_sucos_org, paises_org)
imp_frescas_org = update_country_names(imp_frescas_org, paises_org)
imp_espumantes_org = update_country_names(imp_espumantes_org, paises_org)
imp_passas_org = update_country_names(imp_passas_org, paises_org)

### Enriquecendo o Dataframe com dados econômicos

In [151]:
df_pib = pd.read_csv(r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\pib_2013_2023.csv', sep=',')

In [152]:
df_pib['País'] = df_pib['País'].map(country_translation)

In [153]:
imp_vinho_org = imp_vinho_org.merge(df_pib[['País', 'Ano', 'PIB']], how='left', on=['País', 'Ano'])

In [154]:
imp_sucos_org = imp_sucos_org.merge(df_pib[['País', 'Ano', 'PIB']], how='left', on=['País', 'Ano'])
imp_frescas_org = imp_frescas_org.merge(df_pib[['País', 'Ano', 'PIB']], how='left', on=['País', 'Ano'])
imp_espumantes_org = imp_espumantes_org.merge(df_pib[['País', 'Ano', 'PIB']], how='left', on=['País', 'Ano'])
imp_passas_org = imp_passas_org.merge(df_pib[['País', 'Ano', 'PIB']], how='left', on=['País', 'Ano'])

### Enriquecendo o Dataframe com dados climáticos

In [155]:
df_clima = pd.read_excel(r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Temperatura Média Países World Banking.xlsx', engine='openpyxl')

In [156]:
df_clima.drop(columns=['Unnamed: 0', 'Tipo'], inplace=True)

In [157]:
df_clima.head()

            País Temperatura
0   Burkina Faso       30,40
1           Mali       29,21
2          Aruba       29,17
3        Senegal       28,90
4     Mauritânia       28,82

In [158]:
# imp_espumantes_org_p = imp_espumantes_org_p.merge(df_clima[['País', 'Temperatura']], how='left', on='País')

### Importando os dataframes para CSV

In [159]:
# Importando primeiramente os dados agrupados por País.

export_dataframe_to_csv(imp_vinho_org_p, r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data', 'importacao_vinho_agrupado_pais.csv')
export_dataframe_to_csv(imp_sucos_org_p, r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data', 'importacao_sucos_agrupado_pais.csv')
export_dataframe_to_csv(imp_frescas_org_p, r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data', 'importacao_frescas_agrupado_pais.csv')
export_dataframe_to_csv(imp_espumantes_org_p, r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data', 'importacao_espumantes_agrupado_pais.csv')
export_dataframe_to_csv(imp_passas_org_p, r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data', 'importacao_passas_agrupado_pais.csv')

Arquivo salvo em: C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data\importacao_vinho_agrupado_pais.csv
Arquivo salvo em: C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data\importacao_sucos_agrupado_pais.csv
Arquivo salvo em: C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data\importacao_frescas_agrupado_pais.csv
Arquivo salvo em: C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data\importacao_espumantes_agrupado_pais.csv
Arquivo salvo em: C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data\importacao_passas_agrupado_pais.csv

'C:\\Users\\Usuario\\Downloads\\FIAP-tech-challenge-1\\Export of processed data\\Importation Data\\importacao_passas_agrupado_pais.csv'

In [160]:
# Importando os dados que contém as informações de todos os anos de 2008 a 2023.

export_dataframe_to_csv(imp_vinho_org, r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data', 'importacao_vinho_ano.csv')
export_dataframe_to_csv(imp_sucos_org, r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data', 'importacao_sucos_ano.csv')
export_dataframe_to_csv(imp_frescas_org, r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data', 'importacao_frescas_ano.csv')
export_dataframe_to_csv(imp_espumantes_org, r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data', 'importacao_espumantes_ano.csv')
export_dataframe_to_csv(imp_passas_org, r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data', 'importacao_passas_ano.csv')

Arquivo salvo em: C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data\importacao_vinho_ano.csv
Arquivo salvo em: C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data\importacao_sucos_ano.csv
Arquivo salvo em: C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data\importacao_frescas_ano.csv
Arquivo salvo em: C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data\importacao_espumantes_ano.csv
Arquivo salvo em: C:\Users\Usuario\Downloads\FIAP-tech-challenge-1\Export of processed data\Importation Data\importacao_passas_ano.csv

'C:\\Users\\Usuario\\Downloads\\FIAP-tech-challenge-1\\Export of processed data\\Importation Data\\importacao_passas_ano.csv'